.nav {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: rgb(5, 106, 119);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.nav-title {
    flex-shrink: 0;
    margin: 0 2rem;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    user-select: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav-input {
    flex: 1;
    min-width: 2rem;
    height: 1.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 0 1rem;
    outline: none;
    border-radius: 0.9rem;
    transition: all 0.3s ease-out, opacity 0.3s ease;
}

.nav-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.nav-input:hover,
.nav-input:focus {
    font-size: 1rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-input.hide {
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.nav-add-btn {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    mask-image: url(/src/static/icons/add.svg);
    mask-position: center;
    mask-size: 70%;
    mask-repeat: no-repeat;
    border: unset;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.nav-add-btn:hover {
    background-color: white;
    mask-size: 80%;
    transform: rotate(180deg);
}

.nav-add-btn.hide {
    transition: all 0.5s ease-out;
    transform: rotate(180deg) scale(0);
    opacity: 0.2;
}